@charset "utf-8";
body,
html {
	height: 100%;
	min-width: 1280px;
	position: relative;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", sans-serif;
	background: #FFFFFF;
}

p {
	padding: 0px;
	margin: 0px;
}

.xd-outline {
	background: #E1ECEF;
}

.xd-ssov2header {
	width: 100%;
	height: 80px;
	background: #0D1A53;
}

.main-title {
	float: left;
	z-index: 200;
	margin-top: 7px;
	margin-left: 30px;
}

.main-icon {
	width: 60px;
	height: 55px;
	float: left;
	margin: 0 auto;
	padding-top: 7px;
	padding-left: 4px;
	padding-right: 8px;
}

.main-icon img {
	margin: 0 auto;
}

.main-iconcontent {
	float: left;
	margin-left: 8px;
	margin-top: 25px;
}

.main-iconcontent p {
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
}

.main-iconcontent p:first-child {
	font-size: 20px;
	margin: 0 0 10px;
}

.navbar-header {
	float: left;
	background: transparent;
}

.navbar-brand {
	color: #fff;
	width: 185px;
	text-align: left;
	height: 61px;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	background: #2A3F52 url(../image/shanren.png) no-repeat 10px 0px;
	background-size: 267px;
}

.search-picout {
	float: right;
	display: inline-block;
	margin-top: 22px;
	margin-left: 20px;
	margin-right: 10px;
	width: 260px;
	background: #16285C;
	height: 35px;
	border-radius: 20px;
	border: 1px solid #16285C;
}

.search-picout.search-pichover {
	border: 1px solid #213879;
}

.search-picout.search-picfocus {
	border: 1px solid #099A9A;
}

.search-picout>.input1 {
	display: inline-block;
	margin-top: 6px;
	width: 200px;
	margin-left: 17px;
}

.search-picout>.input1 input {
	outline: none;
	-webkit-appearance: none;
	border: none;
	background-color: #16285C;
	font-size: 14px;
	color: #6379b1;
}

.search-picout>.input1 input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #59779F;
	/* placeholder字体大小  */
	font-size: 14px;
	/* placeholder位置  */
	text-align: left;
}

.search-picout>.input1 input {
	width: 100%;
}

.search-pic span {
	display: inline-block;
	width: 40px;
	position: absolute;
	right: 7px;
	height: 35px;
	cursor: pointer;
	background: url("../image/search.png") no-repeat 16px 8px;
}

.xd-nav-arrows {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -2px;
	vertical-align: middle;
	background: url(../image/ssov2.png) no-repeat;
	background-position: -32px -52px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ssov2.png', sizingMethod='scale');
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ssov2.png', sizingMethod='scale');
	font-style: normal;
	font-weight: 400;
}

.top-navbar .nav>li>a {
	position: relative;
	display: block;
	height: 50px;
	color: #8098B8;
	margin: 0px;
	font-size: 16px;
	padding: 19px 15px 0px 15px;
}

.top-navbar .nav>li>a>i {
	margin-right: 2px;
}

.nav>li>a>i {
	margin-right: 10px;
	color: rgb(243, 106, 90);
}

.fa-username {
	background: url(../image/ssov2.png) no-repeat 0px -48px;
	height: 35px;
	vertical-align: middle;
	color: #8098B8;
}

.fb {
	display: inline-block;
	width: 30px;
	height: 27px;
	vertical-align: middle;
}

.top-navbar .nav>li {
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.navbar-right {
	float: right;
	margin-top: 10px;
}

.search-pic {
	position: relative;
	border-radius: 20px!important;
}

.top-navbar .nav>li>a.dropdown-toggle {
	cursor: pointer;
}

.xd-ssov2content {
	position: relative;
}


/*tab切换内容部分*/

.container {
	margin: 0 auto;
	padding: 0;
}

.ssov2content .tabs {
	margin: 0 auto;
	width: 1280px;
	height: 50px;
	margin-bottom: 20px;
	padding: 0;
	/*background: ;*/
	border-bottom: 2px solid #CCCCCC;
}

.ssov2content .tabs>li {
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	font-size: 16px;
	line-height: 20px;
	color: #62677c;
	padding-top: 15px;
	text-align: center;
	cursor: pointer;
}

.ssov2content .tabs>li:hover {
	color: #4a4e5d;
}

.ssov2content .tabs>li.active {
	border-bottom: 2px solid #16c29e;
	color: #000000;
	font-weight: 600;
}

.ssov2content .tabs>li.active:hover {
	color: #000000;
}


/*标签管理*/

.ssov2-label {
	font-size: 12px;
	line-height: 20px;
	margin-top: 10px;
}

.ssov2-label a {
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #C5D5D9;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	background: #FFFFFF;
}

.ssov2-label a:hover {
	border: 1px solid #53D3C8;
}

/*.ssov2-managelabel.ssov2-managelabel1 a {
	border: 1px solid #53D3C8;
}*/

.ssov2-label a .ssov2-icon {
	display: inline-block;
	padding: 5px;
	width: 16px;
	height: 19px;
	vertical-align: middle;
}

.ssov2-label a span:first-child+span {
	display: inline-block;
	margin-top: -5px;
}

.ssov2-managelabel {
	display: none;
	position: relative;
	float: right;
	margin-right: 10px;
}
.ssov2-managelabel.active{
	display: block;
}
.ssov2-addlabel {
	position: relative;
	float: right;
	text-align: center;
}


/*管理当前标签*/

.managelabel {
	background: url(../image/ssov2.png) no-repeat;
	background-position: -10px -5px;
}


/*新增标签*/

.addlabel {
	background: url(../image/ssov2.png) no-repeat;
	background-position: -10px -30px;
}


/*点击管理当前标签的弹出相应的内容*/

.ssov2-managelabel .managelabel-outline {
	display: none;
	position: absolute;
	right: 0px;
	top: 29px;
	width: 158px;
	background: #FFFFff;
	border: 1px solid #f8f8f8;
	border-radius: 5px;
	z-index: 100;
}
.ssov2-managelabel .managelabel-outline.active{
	display: block!important;
}
.managelabel-outline ul {
	width: 158px;
	margin: 0px;
	padding: 0px;
	padding: 0px 10px 0px 20px;
}

.managelabel-outline ul li {
	font-size: 14px;
	line-height: 43px;
	text-align: left;
	color: #333333;
	width: auto;
	height: auto;
	padding-top: 0px;
	border-bottom: 1px solid #E8ECF3;
	list-style: none;
	cursor: pointer;
}

.managelabel-outline ul li:last-child {
	border-bottom: 0px;
}

.managelabel-outline ul li:hover {
	color: #53D3C8;
}

.content {
	margin: 0 auto;
	width: 1280px;
}

.content .app-item {
	width: 195px;
	float: left;
	margin: 10px 9px;
	height: 220px;
	border: 1px solid #f8f8f8;
	background: #f8f8f8;
	border-radius: 10px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}


/*没有应用*/

.content .noapp-item {
	margin: 0 auto;
	margin: 40px 0px 20px 0px;
	text-align: center;
}

.content .noapp-item .sidebar-right-pic {
	margin: 0 auto;
}

.content .noapp-item .sidebar-right-pic .supply-img {
	margin-bottom: 20px;
}

.content .noapp-item p {
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	color: #62677C;
}

.content .noapp-item p span {
	padding: 5px;
	margin: 0px 5px;
	color: #53D3C8;
	cursor: pointer;
}

.content .noapp-item p span i {
	display: inline-block;
	padding: 5px;
	width: 16px;
	height: 19px;
	vertical-align: middle;
	background: url(../image/ssov2.png) no-repeat;
	background-position: -35px -30px;
}

.content .sidebar-right {
	position: relative;
}

.content .message-number {
	position: absolute;
	right: 10px;
	top: 10px;
}

.content .message-number span {
	color: #FFFFFF;
	background: #F35170;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	width: auto;
	min-width: 20px;
    padding: 1px 8px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 10px;
	cursor: pointer;
}


/*点击消息小红点显示相关的内容*/

.content .message-outline {
	display: none;
	width: 270px;
	position: absolute;
	top: 20px;
	left: 190px;
	z-index: 100;
	background: #FFFFFF;
	border: 1px solid #D3DBDC;
	border-radius: 5px;
}

.content .message-outline ul {
	padding: 0px 0px 0px 20px;
	margin: 0px;
	min-height: 270px;
    overflow: auto;
    overflow-x: hidden;
}

.content .message-outline ul li {
	font-size: 12px;
	line-height: 60px;
	text-align: left;
	color: #333333;
	position: relative;
	width: auto;
	height: 70px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #E8ECF3;
	cursor: pointer;
	list-style: none;
}

.content .message-outline ul li:after {
	content: "";
	position: absolute;
	left: -16px;
	top: 24px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	color: #B6B9C6;
	background: #B6B9C6;
	border: 2px solid #fff;
	z-index: 100;
}

.content .message-outline ul li span:first-child {
	display: inline-block;
	width: 220px;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content .message-outline ul li span:first-child+span {
	line-height: 20px;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 40px;
}

.content .message-outline ul li span:first-child+span+span {
	line-height: 20px;
	display: inline-block;
	position: absolute;
	right: 31px;
	top: 40px;
	color: #999999;
}

.content .message-outline ul li span:first-child+span+span+span {
	line-height: 20px;
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 30px;
	width: 18px;
	height: 18px;
	background: url(../image/ssov2.png) no-repeat -6px -80px;
}

.content .message-outline ul li:hover span:first-child {
	color: #6CD9D0;
}

.content .message-outline ul li:hover:after {
	background: #66CCCC;
}

.content .message-outline ul li:hover span:first-child+span+span+span {
	background: url(../image/ssov2.png) no-repeat -32px -80px;
}


/*忽略此消息*/

.neglect-message p {
	margin: 0px;
	font-size: 12px!important;
	line-height: 30px!important;
}

.neglect-message p span {
	font-size: 12px!important;
	text-align: center;
	color: #999999;
	display: inline-block;
	padding-top: 27px;
}

.content .app-item:hover {
	-webkit-box-shadow: 0 1px 4px #53D3C8;
	-moz-box-shadow: 0 1px 4px #53D3C8;
	box-shadow: 0 1px 4px #53D3C8;
}

.app-item .sidebar-right-pic {
	position: relative;
	width: 183px;
	height: 150px;
}

.app-item .supply-img {
	position: absolute;
	display: inline-block;
	margin-top: 17px;
	width: 90px;
	height: 90px;
	top: 15%;
	left: 26%;
	border-radius: 50%;
	background: #E6EEF7;
	text-align: center;
}

.supply-img.supply-addimg {
	background: #F3F7FB;
	border: 2px dashed #DDE7F2;
}

.app-item .supply-img img {
	width: 90px;
	height: 90px;
}

.content .app-item p {
	font-size: 16px;
	line-height: 44px;
	margin: 0 0 10px;
	color: #333333;
	text-align: center;
}

.content .app-item.app-additem p {
	color: #999999;
}


/*右侧点击头像弹出来的相关的内容*/

.dropdown-operation {
	display: none;
	position: absolute;
	top: 100%;
	right: 20px;
	background: #FFFFFF;
	width: 240px;
	height: 330px;
	border-radius: 5px;
	z-index: 101;
}

.dropdown-operation .login-details {
	/*width: 240px;*/
	background: #FFFff;
	text-align: center;
	padding-bottom: 25px;
	margin: 0px 10px 0px 10px;
	border-bottom: 1px solid #E8ECF3;
}

.details-icon {
	margin: 0 auto;
	height: 100px;
}

.details-icon span {
	display: inline-block;
	width: 54px;
	height: 54px;
	margin: 0 auto;
	margin-top: 20px;
	z-index: 100;
	background: red;
	background: url(../image/defaulticon.png);
	background-position: 0px 0px;
}

.dropdown-operation .login-details p {
	font-size: 12px;
	line-height: 18px;
	color: #999999;
	margin: 0 0 10px;
	margin-bottom: 5px;
}

.dropdown-operation .login-details p:first-child {
	font-size: 16px!important;
	line-height: 18px;
	color: #999999;
}

.dropdown-operation .login-details p:first-child+p {
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999999;
}

.dropdown-operation .dropdown-menu {
	width: 240px!important;
	box-shadow: none!important;
	border: 0px!important;
}

.dropdown-operation .dropdown-menu li {
	border-left: 2px solid #ffffff;
	cursor: pointer;
}

.dropdown-operation .dropdown-menu li.addborder {
	border-left: 2px solid #53D3C8;
}

.dropdown-operation .dropdown-menu li:hover {
	border-left: 2px solid #53D3C8;
}

.dropdown-operation .dropdown-menu li:hover a {
	color: #53D3C8;
}

.dropdown-operation .dropdown-menu li a {
	padding: 6px 0 6px 14px;
	margin: 0px 10px 0px 10px;
	border-bottom: 1px solid #E8ECF3;
}

.dropdown-operation .dropdown-menu li:last-child a {
	border-bottom: 0px;
}

.dropdown-operation .dropdown-menu li a span {
	margin-left: 30px;
	vertical-align: middle;
}


/*默认修改密码*/

.dropdown-operation .dropdown-menu li a i.fa-changepassword {
	background: url(../image/ssov2.png) no-repeat -114px -36px;
}

.dropdown-operation .dropdown-menu li a i.fa-equipmentman {
	background: url(../image/ssov2.png) no-repeat -113px -74px;
}

.dropdown-operation .dropdown-menu li a i.fa-wechatlogin {
	background: url(../image/ssov2.png) no-repeat -114px -101px;
}

.dropdown-operation .dropdown-menu li a i.fa-exit {
	background: url(../image/ssov2.png) no-repeat -114px -128px;
}


/*hover修改密码*/

.dropdown-operation .dropdown-menu li:hover a i.fa-changepassword {
	background: url(../image/ssov2.png) no-repeat -142px -36px;
}

.dropdown-operation .dropdown-menu li:hover a i.fa-equipmentman {
	background: url(../image/ssov2.png) no-repeat -142px -74px;
}

.dropdown-operation .dropdown-menu li:hover a i.fa-wechatlogin {
	background: url(../image/ssov2.png) no-repeat -142px -101px;
}

.dropdown-operation .dropdown-menu li:hover a i.fa-exit {
	background: url(../image/ssov2.png) no-repeat -142px -128px;
}


/*点击之后*/

.dropdown-operation .dropdown-menu li.addborder a i.fa-changepassword {
	background: url(../image/ssov2.png) no-repeat -142px -36px;
}

.dropdown-operation .dropdown-menu li.addborder a i.fa-equipmentman {
	background: url(../image/ssov2.png) no-repeat -142px -74px;
}

.dropdown-operation .dropdown-menu li.addborder a i.fa-wechatlogin {
	background: url(../image/ssov2.png) no-repeat -142px -101px;
}

.dropdown-operation .dropdown-menu li.addborder a i.fa-exit {
	background: url(../image/ssov2.png) no-repeat -142px -128px;
}


/*弹出层*/

.dialog_layer_v2 {
	/*display: none;*/
	position: absolute;
	z-index: 999;
	font-size: 14px;
	width: 380px;
	max-width: 950px;
}

.dialog_layer_v2.equipmenman {
	width: 440px;
}

.dialog_layer_v2 .dialog_layer_main {
	overflow: inherit;
}

.dialog_layer_v2 .dialog_layer_main {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
	border-radius: 5px;
}


/*弹出层标题*/

.dialog_layer_v2 .dialog_layer_title {
	height: 45px;
	position: relative;
	background: #283363;
}

.dialog_layer_v2 .dialog_layer_title h3 {
	float: left;
	height: 45px;
	color: #ffffff;
	overflow: hidden;
	margin: 0;
	padding-left: 20px;
	font-size: 14px;
	line-height: 18px;
	padding-top: 15px;
}

.dialog_layer_v2 .dialog_layer_title .close {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	color: #ffffff;
	float: right;
}

.dialog_layer_v2 .dialog_layer_title .close i {
	position: absolute;
	top: 5px;
	right: 14px;
	font: 100 27px Tahoma;
}


/*弹出层内容*/

.dialog_layer_v2 .dialog_layer_cont {
	line-height: 20px;
	/*padding: 20px 10px 30px 10px;*/
	background: #fff;
	font-size: 14px;
}
.edit_form_wrap{
	display: none;
}
.edit_form_wrap .edit_psword {
	height: 30px;
	margin: 40px 0px;
	padding-left: 20px;
}

.edit_form_wrap .edit_psword li {
	position: relative;
	margin-bottom: 16px;
	list-style: none;
}

.edit_form_wrap .edit_psword li .txt {
	float: left;
	width: 90px;
	margin-left: -100px;
	text-align: left;
	font-size: 12px;
	line-height: 24px;
	color: #888;
}
label {
	cursor: default;
}

.edit_form_wrap .edit_psword li .mode {
	line-height: 26px;
}

.image-cont-wrap .image-cont .inf,
.label,
.radio {
	display: inline-block;
	vertical-align: middle;
}

button,
input,
select {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.edit_form_wrap .edit_psword li .mode label {
	margin-right: 16px;
}

.edit_form_wrap .edit_psword li .password,
.edit_form_wrap .edit_psword li .txt_input {
	float: left;
	margin-right: 5px;
	border-radius: 2px;
	border: 1px solid #C9CFD8;
	line-height: 30px;
	height: 30px;
	text-indent: 5px;
	color: #000;
	width: 310px;
}
.edit_form_wrap .edit_psword li .password:hover,
.edit_form_wrap .edit_psword li .txt_input:hover{
	border: 1px solid #ABB3BF;
} 
.edit_form_wrap .edit_psword li .password:focus,
.edit_form_wrap .edit_psword li .txt_input:focus{
	border: 1px solid #53D3C8;
} 
.edit_form_wrap .edit_psword li .tip {
	clear: both;
	color: #a2a2a2;
	padding-top: 5px;
}


/*弹出层底部*/

.dialog_layer_v2 .dialog_layer_ft {
	padding: 15px 0;
	position: relative;
	background-color: #ffffff;
	padding-left: 20px;
}

.dialog_layer_v2 .dialog_layer_ft .btn {
	font-size: 14px;
	font-weight: 400;
	margin: 0 7px;
	padding: 6px 40px;
	color: #fff;
	border-radius: 3px!important;
}

.dialog_layer_v2 .dialog_layer_ft .btn_white_2 {
	color: #999999;
}

.btn {
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	border-radius: 3px;
	border-radius: 4px\9;
	display: inline-block;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 16px;
	background-repeat: no-repeat;
	text-decoration: none;
	outline: 0;
	min-width: 24px;
}

.btn_white_2 {
	border: 1px solid #E8ECF3;
	border-radius: 2px;
	background: #FFFFFF;
	text-decoration: none;
}


/*弹出层覆盖层*/

.mask-in {
	/*display: none;*/
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	cursor: no-drop;
	background-color: #001140;
}

.mask-in {
	animation: fade-in 0.2s;
	-webkit-animation: fade-in 0.2s;
}

@fade-in {
	0% {
		opacity: 0;
	}
	100% {}
}

.btn_green,
.btn_green_loading {
	background: #53D3C8;
}


/*修改标签名称弹层*/


/*我的常用*/

.dialog_layer_v2.common_use {
	width: 960px;
	top: 94.5px!important;
}

.dialog_layer_v2.common_use .dialog_layer_cont {
	width: 100%;
	height: 505px;
	padding: 0px;
	margin: 0;
}

.dialog_layer_v2.common_use .search-picout {
	/*z-index: 1;
    position: relative;
    width: 260px;
    height: 100%;
    padding-top: 30px;
    left: 0px;
    width: 185px;
    overflow: auto;
    overflow-x: hidden;*/
}

.common_useoutline {
	display: none;
	height: 505px;
	width: 100%;
	float: left;
}
.common_useoutline.active{
	display: block;
}

/*左侧的*/

.common_useleft {
	display: none;
	float: left;
	width: 240px;
	height: 100%;
	background: #EAF2F4;
}
.common_useleft.active{
	display: block;
}
.common_useright {
	display: none;
	float: left;
	width: 690px;
	height: 100%;
	margin: 0px 10px;
}
.common_useright.active{
	display: block;
}
.common_useleft p {
	font-size: 13px;
	line-height: 20px;
	color: #62677c;
	text-align: left;
	padding: 5px 0px 0px 20px;
	border-bottom: 1px solid #ccc;
}


/*搜索*/

.common_useleft .common_usesearch {
	border-bottom: 1px solid #ccc;
}

.common_useleft .search-picout {
	float: right;
	background: #FFFFFF;
	border: #002A4;
	width: 218px;
	margin: 10px 10px 5px 10px;
	border: 1px solid #ffffff;
}

.common_useleft .search-picout>.input1 input {
	background: #FFFFFF;
	color: #afafaf;
}

.common_useleft .search-picout>.input1 {
	width: 155px;
}
.common_useleft .search-picout>.input1 input::-webkit-input-placeholder{
	color: #afafaf;
}

/*下面的可选*/

.common_useleft .common_usesel {
	width: 240px;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.common_useleft .common_usesel ul {
	width: 240px;
	margin: 0;
	padding: 0;
}

.common_useleft .common_usesel ul li {
	padding: 5px 0px;
	list-style: none;
	border-bottom: 1px solid #D3DEE8;
}

.common_useleft .common_usesel ul li .usesearch_checkbox {
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 18px;
	cursor: pointer;
	vertical-align: middle;
	outline: 0;
	background: 0 0\9;
	background-image: url(../image/bee-201802281712.png);
	-webkit-appearance: none;
	background-position: -197px -90px;
}

.common_useleft .common_usesel ul li .usesearch_checkbox:checked {
	background-image: url(../image/bee-201802281712.png);
	background-position: -215px 0px;
}

.common_useleft .common_usesel ul li img {
	width: 30px;
	height: 30px;
	background: red;
	margin: 0px 5px;
}

.common_useleft .common_usesel ul li span {
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	color: #333333;
}


/*右侧的内容*/

.common_useright {}

.common_useright p {
	font-size: 13px;
	line-height: 25px;
	color: #62677c;
	text-align: left;
	border-bottom: 1px solid #D3DEE8;
}

.common_useright .common_rightname {
	width: 100%;
	height: 418px;
	border-bottom: 1px solid #D3DEE8;
	overflow: auto;
    overflow-x: hidden;
}

.common_useright .common_rightname .sel {
	float: left;
	width: 150px;
	height: 100px;
	list-style: none;
	margin: 15px 8px 15px 10px;
	padding-top: 0px;
	border: 0px;
	background-color: #FFFFFF;
	cursor: pointer;
}

.sel>div:first-child {
	width: 145px;
	height: 82px;
	text-align: center;
	border: 1px solid #66CCCC;
	border-radius: 2px;
}

.sel>div:first-child img {
	width: 50px;
	height: 50px;
	list-style: none;
}

.common_useright .common_rightname ul {
	width: 100%;
	height: 418px;
	margin: 0;
	padding: 0;
}

.common_useright .common_rightname ul li>div:last-child {
	font-size: 13px;
	line-height: 20px;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 22px;
	text-align: center;
}

.common_useright .dialog_layer_ft{
	padding-left: 0px;
}
/*设备管理*/

.dialog_layer_v2.equipmenman .dialog_layer_cont {
	padding: 0;
}

.dialog_layer_cont .equipmen_msg {
	display: none;
	width: 100%;
	border-bottom: 1px solid #E8ECF3;
}

.equipmen_msg p {
	width: 100%;
	height: 40px;
	font-size: 12px;
	line-height: 20px;
	padding: 0px;
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	color: #999999;
}

.equipmenman .dialog_layer_cont .equipmen_msg.equipmen_opt {
	background: #D3F8F5;
}

.equipmen_msg.equipmen_opt p {
	color: #333333;
	width: 100%;
}

.equipmen_msg.equipmen_opt p span {
	display: inline-block;
	width: 40px;
	height: 25px;
	font-size: 12px;
	line-height: 18px;
	padding: 5px 3px;
	cursor: pointer;
}

.equipmen_msg.equipmen_opt p span:first-child {
	background: #2FC0B4;
	color: #FFFFFF;
	border-radius: 2px;
	margin-left: 30px;
}

.equipmen_msg.equipmen_opt p span:first-child+span {
	color: #2FC0B4;
	margin-left: 11px;
}
/*设备管理*/
.equipmen_outline {
	display: none;
	background: #FFFFFF;
	height: 220px;
	overflow: auto;
	overflow-x: hidden;
}

.equipmen_outline ul {
	min-height: 220px;
	overflow: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.equipmen_outline ul li {
	list-style: none;
	padding: 10px;
	height: 65px;
	border-bottom: 1px solid #E8ECF3;
}

.equipmen_outline ul li div span.equipmen_icon {
	display: inline-block;
	float: left;
	width: 35px;
	height: 35px;
	background: red;
	margin: 2px 0px 20px;
}

.equipmen_outline ul li div span.equipmen_icon {
	background: url(../image/ssov2.png) no-repeat;
    background-position: 3px -145px;
}
.equipmen_outline ul li div span.equipmen_icon.equipmen_apple {
	background: url(../image/ssov2.png) no-repeat;
    background-position: 3px -103px;
}

/*开关*/

.equipmen_outline ul li div span.equipmen_use {
	display: inline-block;
	float: left;
	width: 50px;
	height: 30px;
	margin: 4px 0px 10px 5px;
	cursor: pointer;
}
.equipmen_outline ul li div span.equipmen_use {
	background: url(../image/ssov2.png) no-repeat;
    background-position: -54px -107px;
}
.equipmen_outline ul li div span.equipmen_use.open{
	background: url(../image/ssov2.png) no-repeat;
    background-position:-54px -148px;
}

/*删除*/

.equipmen_outline ul li div span.equipmen_delete {
	display: inline-block;
	float: right;
	border: 1px solid #DCDCDC;
	padding: 5px 10px;
	margin: 4px 10px 10px 0px;
	border-radius: 15px;
	color: #5ED6CC;
	cursor: pointer;
}

.equipmen_outline ul li div div.equipmen_name {
	float: left;
	min-width: 230px;
	height: 50px;
	margin-left: 20px;
}
.equipmen_name p {
	font-size: 14px;
	line-height: 22px;
	width: 230px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.equipmen_name p:first-child {
	color: #001140;
	font-weight: 700;
}

.equipmen_name p:first-child+p {
	color: #999999;
}

.equipmen_delete {}


/*提示消息*/

.top-alert {
	z-index: 1100;
	margin-left: -200px;
	height: 35px;
	left: 50%;
	margin-left: -300px;
	min-width: 400px;
	padding-top: 5px;
	position: absolute;
	text-align: center;
	top: 0;
}

.top-alert p {
	background-color: #283363;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	word-break: break-all;
	word-wrap: break-word;
	color: #ffffff;
}

.top-alert p span {
	display: inline-block;
	float: right;
}

.fade-out {
	animation: fade-out 0.3s;
	-webkit-animation: fade-out 0.3s;
}

.top-alert-icon-waring {
	background: url(img/top-panel-alert.png) 19px -54px no-repeat;
}

@fade-out {
	0% {}
	100% {
		opacity: 0;
	}
}
/*确认提示消息*/
.dialog-confirm{
	display: none;
	width: 100%;
	height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}
.dialog-confirm>p {
    font-size: 14px;
    line-height: 30px;
    padding-top: 14px;
}
.equipmen_msg.equipmen_opt{
	display: none;
}
/*我的常用模块*/
 .dialog_layer_v2.addmy_use .edit_form_wrap{
	display: block;
}
/*设备管理模块*/
.dialog_layer_v2.equipmenman .equipmen_outline{
	display: block!important;
}
.dialog_layer_v2.equipmenman .dialog_layer_ft{
	display: none!important;
}
.dialog_layer_v2.equipmenman .equipmen_msg.equipmen_opt{
	display: block!important;
}
.dialog_layer_v2.equipmenman .equipmen_msg{
	display: block!important;
}
/*修改密码模块*/
.change_pwd{
	display: none;
	margin-top: 27px;
}
.change_pwd ul li{
	list-style: none;
	margin-bottom: 26px;
}
.change_pwd ul li input{
	width: 378px;
    height: 30px;
    padding-left: 5px;
}
.change_pwd ul p{
	margin-top: -19px;
    font-size: 13px;
    line-height: 20px;
}
/*添加应用模块*/
.dialog_layer_v2.common_use .common_useoutline{
	display: block;
}
.dialog_layer_v2.common_use .dialog_layer_ft1{
	display: none!important;
}
.dialog_layer_v2.common_pwd{
	width: 500px;
}
.dialog_layer_v2.common_pwd .change_pwd{
	display: block;
}
/*弹出单独的信息模块*/
.dialog_layer_v2.alonemess .dialog-confirm{
	display: block;
}
