/*
 * @author zhanghelongoing by by 2017-12-15
 * MFA loginpage
 */

@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

body,
html {
	height: 100%;
	min-width: 1220px;
	position: relative;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", sans-serif;
	/*background: #FFFFFF;*/
	padding: 0px;
	margin: 0px;
}

.canvas-box {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

a:hover {
	text-decoration: none;
}

.xd-ssov2body {
	background: linear-gradient(to bottom, #00062b, #004c90);
	background: -webkit-linear-gradient(top, #00062b, #004c90);
	background:-o-linear-gradient(bottom, #00062b, #004c90);
	background: -moz-linear-gradient(bottom, #00062b, #004c90);
	background-position: right;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00062b', endColorstr='#004c90', GradientType=1);
}

#ssov2login_bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
	visibility: visible;
}

.main-leftbk {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: url(../image/main-leftbk.png) no-repeat;
	background-position: left;
	z-index: -1;
}

.main-rightbk {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url(../image/main-rightbk.png) no-repeat;
	background-position: center;
	z-index: -1;
}

.main {
	position: absolute;
	width: 1100px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -550px;
	margin-top: -250px;
	overflow: hidden;
	background: #FFFFFF;
	border-radius: 10px;
}

.main-title {
	position: fixed;
	top: 24px;
	/*left: 300px;*/
	z-index: 200;
}

.main-title.mail-rightskyp {
	position: fixed;
	top: 24px;
	left: 1050px;
	color: #57dccf;
	z-index: 201;
}

.main-title.mail-rightskyp .main-iconcontent {
	width: 300px;
}

.main-title.mail-rightskyp a {
	float: left;
	color: #57dccf;
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	border: 1px solid #57dccf;
	padding: 3px 10px;
	margin-top: 10px;
	border-radius: 12px;
	cursor: pointer;
}

.main-title.mail-rightskyp p {
	float: left;
	font-size: 12px;
	line-height: 18px;
	margin-left: 20px;
	padding: 3px 10px;
	margin-top: 10px;
	color: #57dccf;
	vertical-align: middle;
	border-radius: 12px;
	border: 1px solid #57dccf;
	letter-spacing: 0px;
	cursor: pointer;
}

.main-title.mail-rightskyp p span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-top: -3px;
	vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
	background: url("../image/authmethod.png") no-repeat;
	background-position: -197.5px -486.5px;
}

.main-icon {
	width: 60px;
	height: 55px;
	float: left;
	margin: 0 auto;
	padding-top: 7px;
	padding-left: 4px;
	padding-right: 8px;
}

.main-icon img {
	margin: 0 auto;
}

.main-iconcontent {
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}

.main-iconcontent p {
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
}
.main-iconcontent p:first-child {
	font-size: 20px;
}

.main_con1>img {
	width: 135px;
	height: 40px;
	display: inline-block;
}

.loginout {
	width: 347px;
	padding-top: 150px;
	float: left;
	padding-left: 65px;
	/*border-radius: 10px;*/
	opacity: 0.9;
}

.conlogin-leftout {
	float: left;
	width: 700px;
	height: 500px;
	background: #FFFFFF;
	z-index: 100;
}

.conlogin-leftout {
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.main .conlogin-leftout {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.main.open-right .conlogin-leftout {
	-webkit-transform: translateX(-150%);
	transform: translateX(-150%);
}

.conlogin-leftout>img {
	width: 486px;
	height: 382px;
	display: inline-block;
}

.conlogin-rightout {
	z-index: 200;
	width: 384px;
	height: 500px;
	float: left;
	position: relative;
	background: #FFFFFF;
	border-radius: 0px 10px 10px 0px;
}

.conlogin-rightout .two-dimencode {
	margin: 0 auto;
	padding: 0px 0px 40px 0px;
}

.conlogin-rightout .two-dimencode img {
	width: 200px;
	height: 200px;
}

.conlogin-rightout.conlogin-rightout1 {
	border-radius: 10px 0px 0px 10px;
}

.conlogin-rightout.conlogin-rightout1 .two-dimencode {
	opacity: 0.1;
}

.conlogin-rightout>p {
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
}

.conright-content {
	width: 100%;
	height: 368px;
	margin-top: 10px;
	padding: 20px 20px 0px 20px;
	z-index: 1;
}

.conright-content>p {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}

.other-choose {
	width: 100%;
	height: 35px;
	margin-top: 18px;
	color: #FFFFFF;
}

.other-choose a {
	color: #FFFFFF;
	text-decoration: none;
}

.other-choose a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.other-choose p:first-child {
	width: 100px;
	float: left;
	margin-top: -7px;
}

.other-choose p:first-child label {
	margin-left: 3px;
}

.other-choose p:first-child input {
	float: left;
	display: inline-block;
	width: 21px;
	height: 17px;
	font-size: 12px;
	vertical-align: middle;
	margin-top: 6.5px;
}

.other-choose p:last-child {
	width: 80px;
	float: right;
	margin-right: 19px;
}

.other-choose p:last-child>span {
	float: right;
}

.idaaslogin {
	color: #ffffff\9\0;
	color: #ffffff;
	background-color: #0385ff;
	text-align: center;
	display: block;
	width: 100%;
	/*border-radius: 2px!important;*/
	letter-spacing: 4px;
	padding: 10px 10px;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	border: 0px;
	margin-right: 20px;
	width: 270px;
	cursor: pointer;
}

.copyright-information {
	position: fixed;
	bottom: 25px;
	text-align: center;
	color: #7AA1D4;
	width: 100%;
}

.copyright-information>p {
	font-size: 14px;
	line-height: 20px;
	color: #80a6d9;
	padding: 0px;
	margin: 0px;
}


/*鎵爜鐧诲綍鏂瑰紡*/

.loginways {
	float: left;
	margin: 0 auto;
	height: 465px;
	width: 347px;
	margin-left: 30px;
	margin-top: 40px;
	text-align: center;
}

.loginways p {
	font-size: 17px;
	line-height: 25px;
	color: #817e7e;
	margin: 14px 0px 25px 0px;
}

.loginways .login-title {
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 2px;
	color: #000000;
}

.two_dimencode {
	margin: 40px 0px 50px 0px;
}

.two_dimencode img {
	width: 200px;
}

.moreways {
	display: none;
	font-size: 14px;
	line-height: 20px;
}

.moreways span {
	display: inline-block;
	padding: 8px 40px;
	font-size: 14px;
	line-height: 20px;
	color: #57dccf;
	border: 1.5px solid #57dccf;
	border-radius: 20px!important;
	cursor: pointer;
}
.moreways .weixinUrl{
	display: inline-block;
	padding: 8px 40px;
	font-size: 14px;
	line-height: 20px;
	color: #57dccf;
	border: 1.5px solid #57dccf;
	border-radius: 20px!important;
	cursor: pointer;
}


/*******鍓╀笅鐨勭櫥褰曟柟寮�*******/

.otherways {
	position: relative;
	right: -1100px;
	width: 734px;
	height: 500px;
	z-index: 200;
	background: #FFFFFF;
}

.open-right .otherways {
	-webkit-transform: translateX(-102%);
	transform: translateX(-102%);
	/*right: -355px;*/
}


/*鍥炲埌涓婁竴椤�*/

.go-backpage {
	position: relative;
	left: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
}

.go-backpage span {
	display: inline-block;
	margin: 0 auto;
	height: 44px;
	position: absolute;
	left: 0px;
	padding-left: 40px;
	background: url(../image/ssov2.png) no-repeat;
	background-position: -158px 3px;
	font-size: 15px;
	cursor: pointer;
}

.go-backpage span:hover {
	background: url(../image/ssov2.png) no-repeat;
	background-position: -111px 3px;
}


/*鍓╀笅鐨勭櫥褰曟柟寮忓唴瀹归儴鍒�*/

.otherways-content {
	width: 100%;
	height: 315px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	margin: 0 auto;
	position: absolute;
}

.otherways-login>p {
	height: 20px;
	width: 100%;
	margin: 10px 0px 45px 0px;
	font-size: 24px;
	line-height: 30px;
	color: #262626;
	letter-spacing: 2px;
}
.otherways-login>p.error-message{
	display: none;
	font-size: 12px;
	line-height: 18px;
	color: #f64684;
	margin: 0px auto;
	padding: 2px;
	background: #FFE4EC;
	width: 300px;
    height: auto;
}
.otherways-login>p.error-message>span{
	display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    vertical-align: middle;
    background: url(../image/authmethod.png) no-repeat;
    background-position: -84.5px -486.5px;
}
.otherways-login .login-input span input {
	width: 300px;
	height: 45px;
	margin: 15px 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #d5d5d5;
	font-size: 14px;
	line-height: 18px;
	color: #666666;
	border-radius: 2px;
}
.login-input.login-inputcode img{
	width: 200px;
	height: 200px;
	margin-top: 15px
}
.otherways-login .login-input span input:hover {
	border: 1px solid #C0C0C0;
}

.otherways-login .login-input span input:focus {
	border: 1px solid #C0C0C0;
}

.otherways-login {
	margin: 0 auto;
	display: none;
	margin-bottom: 38px;
}

.otherways-login.active {
	display: block;
}

.otherways-login .login-input {
	width: 100%;
	margin-top: 30px;
}

.otherways-login .login-input span {
	display: block;
	width: 100%;
}

.otherways-login button {
	font-size: 16px;
	margin-top: 25px;
	padding: 10px 3px;
	width: 200px;
	border: 0;
	border-radius: 18px;
	background: #42CABD;
	color: #FFFFFF;
	text-align: center;
	display: inline-block;
}

.otherways-login button.disabled {
	cursor: no-drop;
	opacity: 0.5;
}

.otherways-login .forget-password {
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	color: #53d3c8;
	margin: 0;
	margin-top: 20px;
	letter-spacing: 0;
	cursor: pointer;
}


/*鐧诲綍鎸夐挳涓嬮潰鎻愮ず鐨勬枃瀛�*/


/*浜鸿劯璇嗗埆楠岃瘉鍜屽０绾硅瘑鍒獙璇�*/

.login-mess {
	margin: 0 auto;
	margin-top: 40px;
}

.login-mess p {
	font-size: 14px;
	line-height: 18px;
	color: #666666;
	margin: 0;
	letter-spacing: 0px;
	text-align: center;
}

.login-mess p span {
	display: inline-block;
	padding: 5px 10px;
}


/*鐭俊楠岃瘉鍜岃闊抽獙璇�*/

.login-inputcutd span:first-child input {
	width: 225px;
	margin-left: -76px;
	border-radius: 2px 0px 0px 2px;
}

.login-inputcutd span .countdown {
	display: inline-block;
	position: absolute;
	top: 90px;
	width: 76px;
	background: #53D3C8;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
	padding: 12.5px 10px;
	border-radius: 0px 2px 2px 0px;
}

.login-inputcutd span .countdown.disabled {
	opacity: 0.5;
	cursor: no-drop;
}


/*寰俊鐧诲綍鍜屾壂鐮佺櫥褰�*/

.login-inputcode {}

.login-inputcode>p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 auto;
	margin: 5px 0px;
	text-align: center;
	color: #666666;
}

.tabs-content7 .login-inputcode img {
	margin: 20px 0px;
	width: 117px;
	height: 96px;
}

.tabs-content7 .moreways {
	display: block;
	margin-top: 15px;
}

.otherways-login.tabs-content7 .login-input span {
	width: auto;
	display: inline;
}
.otherways-login.tabs-content7 .login-input  .weixinUrl{
	width: auto;
	display: inline;
}

.otherways-login.tabs-content7 .moreways span {
	padding: 8px 25px;
}
.otherways-login.tabs-content7 .moreways .weixinUrl {
	padding: 8px 25px;
}


/*鍓╀笅鐨勭櫥褰曟柟寮忔寜閽�*/

.otherways-button {
	width: 750px;
	height: 106px;
	margin-top: 345px;
	background: #f3f4f4;
	border: 1px solid #ebebeb;
}

.button-content {
	float: left;
	position: relative;
	width: 83px;
	height: 105px;
	margin: 0 auto;
	margin-top: -104px;
	display: none;
}

.button-content>span {
	display: none;
	position: absolute;
	left: 32px;
	top: -2px;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background: #f3f4f4;
	background: url("../image/authmethod.png") no-repeat -49.5px -487px;
}

.button-content.active span {
	display: block;
}

.button-content div {
	width: 64px;
	height: 64px;
	margin: 0 auto;
	background: #ffffff;
	border: #000000;
	margin-top: 15px;
	border-radius: 50%;
	cursor: pointer;
}

.button-content.active div {
	background: #ffffff;
}

.login-icon .login-img {
	border: 0;
	margin: 0 auto;
	width: 65px;
	height: 65px;
	display: inline-block;
}

.button-content p {
	font-size: 13px;
	line-height: 16px;
	width: 85px;
	margin: 0 auto;
	margin: 5px 0px;
	text-align: center;
	display: none;
}

.button-content.active p {
	display: block;
}


/*涓轰簡鍏煎ie8锛岄噰鐢ㄦ敼鍙樿儗鏅浘鐨勬柟寮忔潵鍋�*/


/*鍔ㄦ�佸彛浠ら粯璁�*/

.login-icon.login-icondynade .login-img {
	background: url("../image/authmethod.png") no-repeat -46.5px -9px;
}


/*鍔ㄦ�佸彛浠ら紶鏍囨粦杩�*/

.login-icon.login-icondynade .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -146.5px -9px;
}


/*鍔ㄦ�佸彛浠ら�変腑*/

.login-icon.login-icondynade.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -252px -9px;
}
.button-content.active .login-icon.login-icondynade .login-img{
	background: url("../image/authmethod.png") no-repeat -252px -9px;
}

/*浜鸿劯榛樿*/

.login-icon.login-iconfacede .login-img {
	background: url("../image/authmethod.png") no-repeat -350px -9px;
}


/*浜鸿劯榧犳爣婊戣繃*/

.login-icon.login-iconfacede .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -450.5px -9px;
}


/*浜鸿劯閫変腑*/

.login-icon.login-iconfacede.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -547.5px -9px;
}
.button-content.active .login-icon.login-iconfacede .login-img{
	background: url("../image/authmethod.png") no-repeat -547.5px -9px;
}

/*澹扮汗榛樿*/

.login-icon.login-iconvocalde .login-img {
	background: url("../image/authmethod.png") no-repeat -46.5px -103px;
}


/*澹扮汗榧犳爣婊戣繃*/

.login-icon.login-iconvocalde .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -146.5px -103px;
}


/*澹扮汗閫変腑*/

.login-icon.login-iconvocalde.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -251px -103px;
}
.button-content.active .login-icon.login-iconvocalde .login-img{
	background: url("../image/authmethod.png") no-repeat -251.5px -103px;
}

/*APP涓�閿櫥褰曢粯璁�*/

.login-icon.login-iconapponede .login-img {
	background: url("../image/authmethod.png") no-repeat -350px -103px;
}


/*APP涓�閿櫥褰曢紶鏍囨粦杩�*/

.login-icon.login-iconapponede .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -450.5px -103px;
}


/*APP涓�閿櫥褰曢�変腑*/

.login-icon.login-iconapponede.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -547.5px -103px;
}
.button-content.active .login-icon.login-iconapponedee .login-img{
	background: url("../image/authmethod.png") no-repeat -547.5px -103px;
}

/*鐭俊榛樿*/

.login-icon.login-iconmessde .login-img {
	background: url("../image/authmethod.png") no-repeat -46.5px -202.5px;
}


/*鐭俊榧犳爣婊戣繃*/

.login-icon.login-iconmessde .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -146.5px -202.5px;
}


/*鐭俊閫変腑*/

.login-icon.login-iconmessde.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -250.5px -202.5px;
}
.button-content.active .login-icon.login-iconmessde .login-img{
	background: url("../image/authmethod.png") no-repeat -250.5px -202.5px;
}

/*璇煶榛樿*/

.login-icon.login-iconvoicede .login-img {
	background: url("../image/authmethod.png") no-repeat -349.5px -202.5px;
}


/*璇煶榧犳爣婊戣繃*/

.login-icon.login-iconvoicede .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -450.5px -202.5px;
}


/*璇煶閫変腑*/

.login-icon.login-iconvoicede.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -547.5px -202.5px;
}
.button-content.active .login-icon.login-iconvoicede .login-img{
	background: url("../image/authmethod.png") no-repeat -547.5px -202.5px;
}

/*涓存椂鎺堟潈鐮侀粯璁�*/

.login-icon.login-icontempde .login-img {
	background: url("../image/authmethod.png") no-repeat -46.5px -296.5px;
}


/*涓存椂鎺堟潈鐮侀紶鏍囨粦杩�*/

.login-icon.login-icontempde .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -146.5px -296.5px;
}


/*涓存椂鎺堟潈鐮侀�変腑*/

.login-icon.login-icontempde.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -250.5px -296.5px;
}
.button-content.active .login-icon.login-icontempde .login-img{
	background: url("../image/authmethod.png") no-repeat -250.5px -296.5px;
}

/*寰俊榛樿*/

.login-icon.login-iconwechatde .login-img {
	background: url("../image/authmethod.png") no-repeat -349.5px -296.5px;
}


/*寰俊榧犳爣婊戣繃*/

.login-icon.login-iconwechatde .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -450.5px -296.5px;
}


/*寰俊閫変腑*/

.login-icon.login-iconwechatde.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -547.5px -296.5px;
}
.button-content.active .login-icon.login-iconwechatde .login-img{
	background: url("../image/authmethod.png") no-repeat -547.5px -296.5px;
}

/*鎵爜榛樿*/

.login-icon.login-iconscande .login-img {
	background: url("../image/authmethod.png") no-repeat -46.5px -389.5px;
}


/*鎵爜榧犳爣婊戣繃*/

.login-icon.login-iconscande .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -146.5px -389.5px;
}


/*鎵爜閫変腑*/

.login-icon.login-iconscande.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -250.5px -389.5px;
}
.button-content.active .login-icon.login-iconscande .login-img{
	background: url("../image/authmethod.png") no-repeat -250.5px -389.5px;
}

/*瀵嗙爜鐧诲綍榛樿*/

.login-icon.login-iconpwdde .login-img {
	background: url("../image/authmethod.png") no-repeat -349.5px -389.5px;
}


/*瀵嗙爜鐧诲綍榧犳爣婊戣繃*/

.login-icon.login-iconpwdde .login-img:hover {
	background: url("../image/authmethod.png") no-repeat -450.5px -389.5px;
}


/*瀵嗙爜鐧诲綍閫変腑*/

.login-icon.login-iconpwdde.login-iconmo .login-img {
	background: url("../image/authmethod.png") no-repeat -547.5px -389.5px;
}
.button-content.active .login-icon.login-iconpwdde .login-img{
	background: url("../image/authmethod.png") no-repeat -547.5px -389.5px;
}

/*缈婚〉鍔ㄧ敾*/

.open-right .conlogin-rightout {
	z-index: 200;
	-webkit-transform: translateX(-189%);
	transform: translateX(-189%);
}

.open-right .conlogin-rightout1 {
	position: relative;
}

.open-right .conlogin-rightout1 .bk-dim {
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 500px;
	background: url("../image/mohu.png") no-repeat;
	z-index: 201;
	cursor: no-drop;
}

.conlogin-rightout,
.otherways {
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.open-right .otherways {
	/*-webkit-transform: translateX(0%);
    transform: translateX(0%);*/
}


/*鍦ㄩ椤典腑閰嶇疆鏄剧ず鐨勫唴瀹�*/

.loginways .otherways-login {
	/*	display: none;*/
	height: 318px;
}

.loginways .login-inputcutd span .countdown {
	top: 130px;
}

.login-bottomicon {
	width: 200px;
	height: 52px;
	margin: 0 auto;
	z-index: 200;
	background: url(../image/xindunlogo.png) no-repeat center;
}
/*涓嬭浇"鍠勮"app*/
.down-apppage{
	display: none;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #D3DBDC;
	border-radius: 3px;
	top: 45px;
	right: 50px;
	width: 220px;
	height: 260px;
	z-index: 500;
}
.down-apppage .go-backpage{
	position: absolute;
	left: inherit;
    right: 12px;
    top: 4px;
    width: 20px;
    height: 20px;
}
.down-apppage .go-backpage>span{
	position: absolute;
    right: 0px;
    height: 20px;
    padding: 0px;
    background:url("../image/authmethod.png") no-repeat;
    background-position: -119.5px -480.5px;
}
.down-apppage .go-backpage span:hover{
	background-position: -161.5px -483.5px;
}
.down-apppage p{
	width: 100%;
	color: #444444!important;
	border:0!important;
	text-align: center;
	margin-top: 5px!important;
	margin-bottom: 0px;
	margin-left: 0px!important;
	padding: 0px!important;
}
.down-apppage p:last-child{
	margin-top: 0px!important;
	
}
.down-apppage img{
	display:block;
	width: 172px;
	height: 173px;
	margin: 0 auto;
	margin-top: 60px;
}
.otherways-login.otherways-error>p:first-child {
    margin: 10px 0px 23px 0px;
}
.otherways-login.otherways-error .login-input{
	margin-top: 0px;
}

